.formulario {
        display: flex;
        @include flex(center, center);

    &-3 {
    width: 500px;
}
    &__img {
        width: 400px;
        height: 400px;
        
    }

    .main__boton {
        margin: 10px 15px 15px;
        color: black;
        border-color: black;
        border: 3px solid;
        padding: 0 50px;
    &:hover {
        color: $color;
        background-color: $color-footer-navbar;
        border: 6px solid $color-footer-navbar;
        transform: scale(1.00 , 1.00);
    }
    }
    &__imagen {
        display: flex;
        @include flex(center, center);
        padding-left: 100px;
    }

    &__texto{
    text-align: center;
    padding: 10px 0 10px;
    font-family: $letra-general;
    }
}





