.formulario {
        display: flex;
        @include flex(center, center);

    &-3 {
    width: 500px;
}
    &__img {
        width: 400px;
        height: 400px;
        
    }
    .main__boton {
        margin: 10px 0 15px;
        color: black;
        border-color: black;
        border: 3px solid;
    &:hover {
        color: $color;
        background-color: rgba(145, 255, 101, 0.701);
        border: 6px solid;
        transform: scale(1.00 , 1.00);
    }
    }
    &__imagen {
        display: flex;
        @include flex(center, center);
        padding-left: 100px;
    }

    &__texto{
    text-align: center;
    padding: 10px 0 10px;
    }
}





