
.main__futbol {
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    margin: 30px;
    border: solid 15px #04befe;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    &-portada {
    height: 95vh;
    width: 100%;
    padding: 0px 0px 60px 0px;
}
}