.background-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin flex($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

