.main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    &__galeria {
        height: 250px;
        width: 250px;
        padding: 0 0 20px;
        &:hover {
            transform:scale(1.1, 1.1);
            transition: all 1s;
        }
}
    &__rojo {
        padding: 0 0 15px 15px;
    }
    &__somos {
        font-size: 50px;
        font-family:$letra-general;
        text-align: center;
        padding: 20px;
    }

    h2 {
        font-size: 30px;
        padding: 15px;
        font-style: italic;
    }
}
